<div class="row mb-3">
  <div class="col-md-12">
    <h1>
      All sessions
    </h1>

    <a href="/sessions/new" class="btn btn-block btn-outline-secondary">
      Add a new session
    </a>
  </div>
</div>

<!-- Ransack Code start -->

<!-- Ransack Code end -->

<!-- Location Map Code start -->

<!-- Location Map Code end -->

<hr>

<div class="row mb-3">
  <div class="col-md-12">
    <table class="table">
      <tr>
        <th>
          ID
        </th>

        <th>
          User
        </th>

        <th>
          Starts at
        </th>

        <th>
          Ends at
        </th>

        <th>
          Message sent
        </th>

        <th>
          Professor
        </th>

        <th>
          Location
        </th>

        <th>
          Created at
        </th>

        <th>
          Updated at
        </th>

        <th>
        </th>
      </tr>

      <% @sessions.each do |session| %>
      <tr>
        <!-- Display session.id start -->
        <td>
          <%= session.id %>
        </td>
        <!-- Display session.id end -->

        <!-- Display session.user_id start -->
        <td>
          <%= session.user_id %>
        </td>
        <!-- Display session.user_id end -->

        <!-- Display session.starts_at start -->
        <td>
          <%= session.starts_at %>
        </td>
        <!-- Display session.starts_at end -->

        <!-- Display session.ends_at start -->
        <td>
          <%= session.ends_at %>
        </td>
        <!-- Display session.ends_at end -->

        <!-- Display session.message_sent start -->
        <td>
          <%= session.message_sent %>
        </td>
        <!-- Display session.message_sent end -->

        <!-- Display session.professor start -->
        <td>
          <%= session.professor %>
        </td>
        <!-- Display session.professor end -->

        <!-- Display session.location start -->
        <td>
          <%= session.location %>
        </td>
        <!-- Display session.location end -->

        <!-- Display session.created_at start -->
        <td>
          <%= time_ago_in_words(session.created_at) %> ago
        </td>
        <!-- Display session.created_at end -->

        <!-- Display session.updated_at start -->
        <td>
          <%= time_ago_in_words(session.updated_at) %> ago
        </td>
        <!-- Display session.updated_at end -->

        <td>
          <a href="/sessions/<%= session.id %>">
            Show details
          </a>
        </td>
      </tr>
      <% end %>
    </table>
  </div>
</div>
